.mission-node{

position:absolute;

transform:
translate(-50%,-50%);


width:68px;
height:68px;


border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


z-index:5;


font-size:25px;

font-weight:900;


transition:.25s ease;

}



/* level 1 */
.unlocked{

background:

radial-gradient(
circle,
#fff7a8,
#ffcc00
);


color:#2a1600;


box-shadow:

0 0 18px #ffd700,
0 0 35px #ff9d00;

}



/* locked missions */
.locked{

background:

radial-gradient(
circle,
#ff5555,
#7a0000
);


border:

2px solid #ff8888;


box-shadow:

0 0 15px #ff003c;


}



.mission-node:hover{

transform:
translate(-50%,-50%)
scale(1.12);

}